.claude/
.DS_Store
.idea/
.project
.puppeteer_profile/
.vs/
.vscode/

*.swp
npm-debug.log

test/e2e/chromium
test/e2e/output-screenshots
test/treeshake/index.bundle.js
test/treeshake/index.bundle.min.js
test/treeshake/index.webgpu.bundle.js
test/treeshake/index.webgpu.bundle.min.js
test/treeshake/index.webgpu.nodes.bundle.js
test/treeshake/index.webgpu.nodes.bundle.min.js
test/unit/build

**/node_modules
.puppeteer_profile_debug/ChromeFeatureState
.puppeteer_profile_debug/DevToolsActivePort
.puppeteer_profile_debug/first_party_sets.db
.puppeteer_profile_debug/first_party_sets.db-journal
.puppeteer_profile_debug/Last Version
.puppeteer_profile_debug/Local State
.puppeteer_profile_debug/Variations
.puppeteer_profile_debug/Default/Account Web Data
.puppeteer_profile_debug/Default/Account Web Data-journal
.puppeteer_profile_debug/Default/Affiliation Database
.puppeteer_profile_debug/Default/Affiliation Database-journal
.puppeteer_profile_debug/Default/BookmarkMergedSurfaceOrdering
.puppeteer_profile_debug/Default/Cookies
.puppeteer_profile_debug/Default/Cookies-journal
.puppeteer_profile_debug/Default/declarative_performance_observer.db
.puppeteer_profile_debug/Default/declarative_performance_observer.db-journal
.puppeteer_profile_debug/Default/engine_allowlist.bf
.puppeteer_profile_debug/Default/Favicons
.puppeteer_profile_debug/Default/Favicons-journal
.puppeteer_profile_debug/Default/History
.puppeteer_profile_debug/Default/LocalStorage
.puppeteer_profile_debug/Default/LOCK
.puppeteer_profile_debug/Default/LOG
.puppeteer_profile_debug/Default/Login Data
.puppeteer_profile_debug/Default/Login Data For Account
.puppeteer_profile_debug/Default/Login Data For Account-journal
.puppeteer_profile_debug/Default/Login Data-journal
.puppeteer_profile_debug/Default/Network Persistent State
.puppeteer_profile_debug/Default/Preferences
.puppeteer_profile_debug/Default/README
.puppeteer_profile_debug/Default/Reporting and NEL
.puppeteer_profile_debug/Default/Reporting and NEL-journal
.puppeteer_profile_debug/Default/SCT Auditing Pending Reports
.puppeteer_profile_debug/Default/Secure Preferences
.puppeteer_profile_debug/Default/ServerCertificate
.puppeteer_profile_debug/Default/ServerCertificate-journal
.puppeteer_profile_debug/Default/SessionStorage
.puppeteer_profile_debug/Default/Top Sites
.puppeteer_profile_debug/Default/Top Sites-journal
.puppeteer_profile_debug/Default/TransportSecurity
.puppeteer_profile_debug/Default/Trust Tokens
.puppeteer_profile_debug/Default/Trust Tokens-journal
.puppeteer_profile_debug/Default/trusted_vault.pb
.puppeteer_profile_debug/Default/Web Data
.puppeteer_profile_debug/Default/Web Data-journal
.puppeteer_profile_debug/Default/Cache/Cache_Data/index
.puppeteer_profile_debug/Default/Cache/Cache_Data/sqldb0
.puppeteer_profile_debug/Default/Cache/Cache_Data/sqldb0-journal
.puppeteer_profile_debug/Default/Cache/Cache_Data/sqldb1
.puppeteer_profile_debug/Default/Cache/Cache_Data/sqldb1-journal
.puppeteer_profile_debug/Default/Cache/Cache_Data/sqldb2
.puppeteer_profile_debug/Default/Cache/Cache_Data/sqldb2-journal
.puppeteer_profile_debug/Default/Cache/No_Vary_Search/journal.baj
.puppeteer_profile_debug/Default/Cache/No_Vary_Search/snapshot.baf
.puppeteer_profile_debug/Default/ClientCertificates/LOCK
.puppeteer_profile_debug/Default/ClientCertificates/LOG
.puppeteer_profile_debug/Default/Code Cache/pc/5bb\[`6`2`29@0-95@ab`2.db
.puppeteer_profile_debug/Default/Code Cache/pc/5bb\[`6`2`29@0-95@ab`2.db-wal
.puppeteer_profile_debug/Default/Code Cache/pc/5bb\[`6`2`29@0-95@ab`2.journal
.puppeteer_profile_debug/Default/DawnGraphiteCache/data_0
.puppeteer_profile_debug/Default/DawnGraphiteCache/data_1
.puppeteer_profile_debug/Default/DawnGraphiteCache/data_2
.puppeteer_profile_debug/Default/DawnGraphiteCache/data_3
.puppeteer_profile_debug/Default/DawnGraphiteCache/index
.puppeteer_profile_debug/Default/DawnWebGPUCache/data_0
.puppeteer_profile_debug/Default/DawnWebGPUCache/data_1
.puppeteer_profile_debug/Default/DawnWebGPUCache/data_2
.puppeteer_profile_debug/Default/DawnWebGPUCache/data_3
.puppeteer_profile_debug/Default/DawnWebGPUCache/index
.puppeteer_profile_debug/Default/Extension Rules/000003.log
.puppeteer_profile_debug/Default/Extension Rules/CURRENT
.puppeteer_profile_debug/Default/Extension Rules/LOCK
.puppeteer_profile_debug/Default/Extension Rules/LOG
.puppeteer_profile_debug/Default/Extension Rules/MANIFEST-000001
.puppeteer_profile_debug/Default/Extension Scripts/000003.log
.puppeteer_profile_debug/Default/Extension Scripts/CURRENT
.puppeteer_profile_debug/Default/Extension Scripts/LOCK
.puppeteer_profile_debug/Default/Extension Scripts/LOG
.puppeteer_profile_debug/Default/Extension Scripts/MANIFEST-000001
.puppeteer_profile_debug/Default/Extension State/000003.log
.puppeteer_profile_debug/Default/Extension State/CURRENT
.puppeteer_profile_debug/Default/Extension State/LOCK
.puppeteer_profile_debug/Default/Extension State/LOG
.puppeteer_profile_debug/Default/Extension State/MANIFEST-000001
.puppeteer_profile_debug/Default/GPUCache/data_0
.puppeteer_profile_debug/Default/GPUCache/data_1
.puppeteer_profile_debug/Default/GPUCache/data_2
.puppeteer_profile_debug/Default/GPUCache/data_3
.puppeteer_profile_debug/Default/GPUCache/index
.puppeteer_profile_debug/Default/PersistentOriginTrials/LOCK
.puppeteer_profile_debug/Default/PersistentOriginTrials/LOG
.puppeteer_profile_debug/Default/Segmentation Platform/SegmentInfoDB/LOCK
.puppeteer_profile_debug/Default/Segmentation Platform/SegmentInfoDB/LOG
.puppeteer_profile_debug/Default/Segmentation Platform/SignalDB/LOCK
.puppeteer_profile_debug/Default/Segmentation Platform/SignalDB/LOG
.puppeteer_profile_debug/Default/Segmentation Platform/SignalStorageConfigDB/LOCK
.puppeteer_profile_debug/Default/Segmentation Platform/SignalStorageConfigDB/LOG
.puppeteer_profile_debug/Default/Sessions/Session_13431116926230653
.puppeteer_profile_debug/Default/Sessions/Tabs_13431116926265312
.puppeteer_profile_debug/Default/Shared Dictionary/db
.puppeteer_profile_debug/Default/Shared Dictionary/db-journal
.puppeteer_profile_debug/Default/Shared Dictionary/cache/index
.puppeteer_profile_debug/Default/Shared Dictionary/cache/index-dir/the-real-index
.puppeteer_profile_debug/Default/Site Characteristics Database/000003.log
.puppeteer_profile_debug/Default/Site Characteristics Database/CURRENT
.puppeteer_profile_debug/Default/Site Characteristics Database/LOCK
.puppeteer_profile_debug/Default/Site Characteristics Database/LOG
.puppeteer_profile_debug/Default/Site Characteristics Database/MANIFEST-000001
.puppeteer_profile_debug/Default/Sync Data/LevelDB/000003.log
.puppeteer_profile_debug/Default/Sync Data/LevelDB/CURRENT
.puppeteer_profile_debug/Default/Sync Data/LevelDB/LOCK
.puppeteer_profile_debug/Default/Sync Data/LevelDB/LOG
.puppeteer_profile_debug/Default/Sync Data/LevelDB/MANIFEST-000001
.puppeteer_profile_debug/Default/WebStorage/QuotaManager
.puppeteer_profile_debug/Default/WebStorage/QuotaManager-journal
.puppeteer_profile_debug/Default/chrome_cart_db/LOCK
.puppeteer_profile_debug/Default/chrome_cart_db/LOG
.puppeteer_profile_debug/Default/commerce_subscription_db/LOCK
.puppeteer_profile_debug/Default/commerce_subscription_db/LOG
.puppeteer_profile_debug/Default/discount_infos_db/LOCK
.puppeteer_profile_debug/Default/discount_infos_db/LOG
.puppeteer_profile_debug/Default/discounts_db/LOCK
.puppeteer_profile_debug/Default/discounts_db/LOG
.puppeteer_profile_debug/Default/parcel_tracking_db/LOCK
.puppeteer_profile_debug/Default/parcel_tracking_db/LOG
.puppeteer_profile_debug/Default/shared_proto_db/000003.log
.puppeteer_profile_debug/Default/shared_proto_db/CURRENT
.puppeteer_profile_debug/Default/shared_proto_db/LOCK
.puppeteer_profile_debug/Default/shared_proto_db/LOG
.puppeteer_profile_debug/Default/shared_proto_db/MANIFEST-000001
.puppeteer_profile_debug/Default/shared_proto_db/metadata/000003.log
.puppeteer_profile_debug/Default/shared_proto_db/metadata/CURRENT
.puppeteer_profile_debug/Default/shared_proto_db/metadata/LOCK
.puppeteer_profile_debug/Default/shared_proto_db/metadata/LOG
.puppeteer_profile_debug/Default/shared_proto_db/metadata/MANIFEST-000001
.puppeteer_profile_debug/GPUPersistentCache/GPUCache/YTGNBSWHY7FXQOGW3B7XXSAF4R2QSLIY/cache.db
.puppeteer_profile_debug/GPUPersistentCache/GPUCache/YTGNBSWHY7FXQOGW3B7XXSAF4R2QSLIY/cache.db-wal
.puppeteer_profile_debug/GPUPersistentCache/GPUCache/YTGNBSWHY7FXQOGW3B7XXSAF4R2QSLIY/cache.journal
.puppeteer_profile_debug/GraphiteDawnCache/data_0
.puppeteer_profile_debug/GraphiteDawnCache/data_1
.puppeteer_profile_debug/GraphiteDawnCache/data_2
.puppeteer_profile_debug/GraphiteDawnCache/data_3
.puppeteer_profile_debug/GraphiteDawnCache/index
.puppeteer_profile_debug/segmentation_platform/ukm_db
